<footer class="footer bg-light bg-gradient">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 py-3 d-flex align-items-center justify-content-start">
                <p class="mb-0 text-muted">
                    08/09/2024
                </p>
            </div>
            <div class="col-6 py-3 d-flex align-items-center justify-content-end">
                <p class="mb-0 text-muted">
                    © Powered by <a href="https://www.waterlilylabs.com">Waterlily Labs</a>
                </p>
            </div>
        </div>
    </div>
</footer>