<aside id="sidebar" class="js-sidebar">
    
    @* Content for sidebar *@
    <div class="h-100">
        <div class="sidebar-logo d-flex gap-3 align-items-centert">
            <img src="~/img/wll_logo.png" width="30px"/>  <a class="mt-1" href="https://www.waterlilylabs.com">Waterlily Labs</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a asp-action="Products" asp-controller="Home" class="sidebar-link">
                    <i class="fa-solid fa-gauge pe-2"></i>
                    Products
                </a>
            </li>
            <li class="sidebar-item">
                <a asp-action="Report" asp-controller="Home" class="sidebar-link">
                    <i class="fa-solid fa-gauge pe-2"></i>
                    Report
                </a>
            </li>
        </ul>
    </div>

</aside>