@{
    ViewData["Title"] = "Home Page";
}

@* Home page *@

<div class="text-center h-100 d-flex flex-column align-items-center justify-content-center">
    <img class="my-3" src="~/img/wll_logo.png" />
    <h2 class="display-4 mb-3 fw-bold">Waterlilylabs</h2>
    <h4 class="mb-4 text-secondary">The Test Project of Senior Software Engineer.</h4>
    <a asp-action="Products" asp-controller="Home" class="btn btn-lg btn-info text-white">Products <i class="fa fa-arrow-right ms-2"></i></a>   
</div>
